body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;

}
.image1{
    padding-top: 50px;
    padding-left: 50px;

}

.text{
    position: absolute;
    top: 270px;
    left: 600px;
}
.text1{
    color: #b3b3b3;
    font-size: 23px;
    padding-bottom: 15px;
}
.text2{
    color: white;
    font-size: 55px;
    padding-bottom: 15px;
    font-weight: bolder;
}
.text3{
    padding-top: 30px;
    color:black;
    font-size: 55px;
}
.text5{
    padding-top: 30px;
    color:white;
    font-size: 55px;
}
li{
    list-style: none;

}

p{
    font-size: 23px;
    color: #808080;
    line-height: 45px;
}
.about{
    background-color: white;
    color: black;
    padding-left: 200px;
    height: auto;
    padding-bottom: 40px;

}
.projects{
    padding-left: 600px;
    padding-bottom: 50px;
}
.href{
    text-decoration: none;
    color: #ffcb12;
}
.nav{
    float: left;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px;
    text-shadow: 2px 2px #404040;
    background-color: transparent;
    color: white;
    border: none;
    transition: 0.4s;

}
.navbar{
    position: fixed;
    top: 10px;
    left: 20px;
    padding-bottom: 50px;
    transition: 0.4s;

}
html{
    scroll-behavior: smooth;
}